
<div class="container-fluid p-0 min-vh-100" style="margin-top:10%;">
  <%- include('../partials/adminheader.ejs') %>



  <section
    class="container"
    style="
      background-color: rgb(198, 234, 250);
      padding: 5px;
      border: 2px solid rgb(240, 177, 177);
      border-radius: 15px;
    "
  >
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <div class="grey-bg container-fluid">
      <h3 class="text-center p-2">Dash-Board</h3>
      <section id="minimal-statistics">
        <!-- <div class="row">
      <div class="col-12 mt-3 mb-1">
        <h4 class="text-uppercase">Minimal Statistics Cards</h4>
        <p>Statistics on minimal cards.</p>
      </div>
    </div> -->
        <div class="row">
          <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="danger"><%=totalAmount%></h3>
                        <span>Sales</span>
                      </div>
                      <div class="align-self-center">
                        <!-- <i class="icon-rocket danger fa-beat font-large-2 float-right"></i> -->
                        <!-- <i
                          class="fa-brands fa-salesforce font-large-3 float-right"
                          style="color: #258827"
                        ></i> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success"><%=totalUser%></h3>
                        <span>Customers</span>
                      </div>
                      <div class="align-self-center">
                        <i
                          class="icon-user success font-large-2 float-right"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="primary"><%= totalProduct%></h3>
                        <span>products</span>
                      </div>
                      <div class="align-self-center">
                        <!-- <i class="icon-support primary font-large-2 float-right"></i> -->
                        <i
                          class="fa-brands fa-product-hunt font-large-3 float-right"
                          style="color: #7f62ea"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-content">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="warning"><%= totalOrder%></h3>
                        <span>Orders</span>
                      </div>
                      <div class="align-self-center">
                        <i
                          class="icon-pie-chart warning font-large-2 float-right"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <!-- <i class="icon-pencil primary fa-fade font-large-2 float-left"></i> -->
                      <i class="fa-solid fa-spinner fa-spin font-large-2 float-left" style="color: #8aadf5;"></i>
                      <!-- <i
                        class="fa-solid fa-rotate-left font-large-2 float-left"
                        style="color: #8aadf5"
                      ></i> -->
                    </div>
                    <div class="media-body text-right">
                      <h3><%=orderProcessing %></h3>
                      <span>Order-processing</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <!-- <i class="icon-speech warning fa-fade font-large-2 float-left"></i> -->
                      <i
                        class="fa-solid fa-rotate-left font-large-2 float-left"
                        style="color: #df8862"
                      ></i>
                    </div>
                    <div class="media-body text-right">
                      <h3><%=requestedReturns %></h3>
                      <span>Returns requested</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <i class="icon-graph success font-large-2 float-left"></i>
                    </div>
                    <div class="media-body text-right">
                      <h3><%=categoryCount %></h3>
                      <span>Categories</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="media d-flex">
                    <div class="align-self-center">
                      <i
                        class="icon-pointer danger font-large-2 float-left"
                      ></i>
                    </div>
                    <div class="media-body text-right">
                      <h3><%=orderrefund  %></h3>
                      <span>Total Refund</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="stats-subtitle">
      

        <div class="row">
          <!-- <div class="col-xl-6 col-md-12">
            <div class="card overflow-hidden">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="icon-pencil primary font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>Daily Sales</h4>
                      <span>Daily Sales</span>
                    </div>
                    <div class="align-self-center">
                      <h1>0</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-xl-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <i class="icon-speech warning font-large-2 mr-2"></i>
                    </div>
                    <div class="media-body">
                      <h4>Weekly Sales</h4>
                      <span>Monthly blog comments</span>
                    </div>
                    <div class="align-self-center">
                      <h1>0</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>

        <div class="row">
          <!-- <div class="col-xl-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <h1 class="mr-2">0</h1>
                    </div>
                    <div class="media-body">
                      <h4>Monthly Sales</h4>
                      <span>Monthly Sales Amount</span>
                    </div>
                    <div class="align-self-center">
                      <i class="icon-heart danger font-large-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="col-xl-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                      <h1 class="mr-2">0</h1>
                    </div>
                    <div class="media-body">
                      <h4>Total Cost</h4>
                      <span>Monthly Cost</span>
                    </div>
                    <div class="align-self-center">
                      <i class="icon-wallet success font-large-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </section>
    </div>
    <!-- chart -->
  </section>
</div>

<div class="container">
  <hr class="line bg-dark" />
</div>

<div class="m-md-1 bg-white rounded">
  <!--  #################  Chart Section of Full Orders ################# -->
  <div class="row mt-md-2 pb-md-2 shadow" id="totalSales">
    <div class="col-md-7 col-sm-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <h4 class="card-title float-left">Sales Statistics</h4>
            <div
              id="visit-sale-chart-legend"
              class="rounded-legend legend-horizontal legend-top-right float-right"
            ></div>
          </div>
          <section>
            <div class="container">
              <div class="row">
                

                <div>
                  <div>
                    <canvas id="myChart"></canvas>
                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx = document.getElementById("myChart");
                    const myChart1 = new Chart(ctx, {
                      type: "pie",
                      data: {
                        labels: [],
                        datasets: [
                          {
                            label: "Total Price",
                            data: [],
                            backgroundColor: "rgba(0, 123, 255, 0.5)",
                          },
                          {
                            label: "Order Count",
                            data: [],
                            backgroundColor: "rgba(0, 256, 255, 0.5)",
                          }
                        ],
                      },

                      options: {
                        scales: {
                          y: {
                            beginAtZero: true,
                          },
                        },
                      },
                    });

                    
                    
                    fetchDataAndUpdateChart();

                    // Function to fetch and update chart data
                    async function fetchDataAndUpdateChart() {
                      try {
                        const response = await fetch(
                          "/admin/dashboard/graphcategory",
                          {
                            method: "POST",
                            headers: {
                              "Content-Type": "application/json",
                            }
                          
                          }
                        );

                        if (response.ok) {
                          const data = await response.json();
                          console.log("this is the payment methods data", data);

                          // Process the data and update the chart
                          const labels = data.map((item) => item.label);
                          const values = data.map((item) => item.totalAmount);
                          const orderCounts = data.map(item => item.count);

                          // Update the chart data and labels
                          myChart1.data.labels = labels;
                          myChart1.data.datasets[0].data = values;
                          myChart1.data.datasets[1].data = orderCounts;
                          myChart1.update();
                        } else {
                          console.error("Error fetching data from the server");
                        }
                      } catch (error) {
                        console.error("An error occurred:", error);
                      }
                    }
                  </script>
                </div>
                <!-- </form> -->
              </div>
            </div>
          </section>

          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-sm-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div>
            <div>
              <div class="grid-margin stretch-card">
                <h3 class="mt-3 ps-4">Order Summary</h3>
              </div>

              <form id="salesForm" action="/admin/dashboard/graph" method="post">

                <div class="row m-md-1 bg-white pb-2 shadow rounded ">

                  <div class="col-md-4 grid-margin stretch-card pt-3">
                    <select class="form-select form-select-sm" style="width: 100%; border-color: rgb(119, 145, 207);
                    border-width: 1px; color: rgb(15, 1, 3); border-radius: 20px; font-weight:
                    bold; margin-bottom: 5px; margin-top: 5px;" aria-label=".form-select-sm example"
                      name="salesRe" id="sales" onchange="getData()">
                      <option selected>Select</option>
                      <option value="Daily">Daily</option>
                      <option value="Monthly">Monthly</option>
                      <option value="Yearly">Yearly</option>
                    </select>
                  </div>
                  <div class="col-md-4 grid-margin stretch-card pt-3" style="display: none;"
                    id="chooseMonth">
                    <select class=" form-select form-select-sm" style="width: 100%; border-color: rgb(161, 216, 112);
  border-width: 1px; color: rgb(15, 1, 3); border-radius: 20px; font-weight:
  bold; margin-bottom: 5px; margin-top: 5px;" aria-label=".form-select-sm example" name="month">
                      <option selected>Monthly</option>
                      <option value="2023-01-01">January</option>
                      <option value="2023-02-01">February</option>
                      <option value="2023-03-01">March </option>
                      <option value="2023-04-01">April </option>
                      <option value="2023-05-01">May</option>
                      <option value="2023-06-01">June </option>
                      <option value="2023-07-01">July </option>
                      <option value="2023-08-01">August </option>
                      <option value="2023-09-01">September </option>
                      <option value="2023-10-01">October </option>
                      <option value="2023-11-01">November </option>
                      <option value="2023-12-01">December </option>
                    </select>

                  </div>
                  <div class="col-md-4 grid-margin stretch-card pt-3" style="display: none;" id="chooseDay">
                    <input type="date" name="today">

                  </div>
                  <div class="col-md-4 grid-margin stretch-card pt-3" style="display: none;"
                    id="chooseYear">
                    <select class=" form-select form-select-sm" style="width: 100%; border-color: palevioletred;
  border-width: 1px; color: rgb(15, 1, 3); border-radius: 20px; font-weight:
  bold; margin-bottom: 5px; margin-top: 5px;" aria-label=".form-select-sm example" name="year">
                      <option selected>Year</option>
                      <option value="2023"> 2023</option>
                      <option value="2023"> 2024</option>
                      <option value="2023"> 2025</option>
                      <option value="2023"> 2026</option>
                      <option value="2023"> 2027</option>
                      <option value="2023"> 2028</option>
                      <option value="2023"> 2029</option>
                      <option value="2023"> 2030</option>
                      <option value="2023"> 2031</option>
                      <option value="2023"> 2032</option>
                      <option value="2023"> 2033</option>
                      <option value="2023"> 2034</option>
                  



                    </select>

                  </div>
                  <div class="col-md-4 grid-margin stretch-card pt-3">
                    <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                      autocomplete="off">
                      Submit
                    </button>

                  </div>
                  <div class="col-lg-6 mx-2">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                     
                      
                        <Button
                          type="button"
                          id="salesReport"
                          class="btn btn-danger"
                          style="text-align: end"
                          >Sales Report</Button
                        >
                      
                    </div>
                  </div>

                </div>
              </form>


            </div>
            <canvas id="barChart" class="shadow p-2"></canvas>
            <input type="hidden" id="orderStatus" value="<%=orderStatus%>" />
          </div>


          <script>
            // Initialize the chart instance
             const bar = document.getElementById('barChart');
             const status = JSON.parse(document.getElementById('orderStatus').value);
             let labels = Object.keys(status);
             let data = Object.values(status);

             const myChart = new Chart(bar, {
               type: 'bar',
               data: {  
                         labels: [],
                         datasets: [{
                           label: 'Product count',
                           data: [],
                           backgroundColor: 'rgba(0, 123, 255, 0.5)'
                         }]
                       }
             });

             

             document.getElementById('salesForm').addEventListener('submit', async (event) => {
               event.preventDefault();

               // Collect form data
               const formData = new FormData(document.getElementById('salesForm'));
               const salesRe = formData.get('salesRe');
               const year = formData.get('year');
               const month = formData.get('month');
               const today = formData.get('today');

               console.log("salesRe", salesRe);
               console.log("year", year);
               console.log("formData", formData);

               try {
                 const response = await fetch('/admin/dashboard/graph', {
                   method: 'POST',
                   headers: {
                     'Content-Type': 'application/json'
                   },
                   body: JSON.stringify({ salesRe, year, month, today })
                 });

                 if (response.ok) {
                   const data = await response.json();
                   console.log('Received data:', data);

                   // Process the data and update the chart
                   const labels = data.map(item => item.label);
                   const values = data.map(item => item.value);
                   // Update the chart data and labels
                   myChart.data.labels = labels;
                   myChart.data.datasets[0].data = values;
                   myChart.update();
                 } else {
                   console.error('Error fetching data from the server');
                 }
               } catch (error) {
                 console.error('An error occurred:', error);
               }
             });
           </script>
 
 <script>
  //Fetch Data ***********************
  function fetchSalesData(url, options, type, id) {

    fetch(url, options)
      .then(response => response.json())
      .then(data => {

        console.log(data);

        createGraph(data, type, id)


      })
  }

  //select sales Order Type*******************
  function getData() {
    const selectedValue = document.getElementById('sales').value;
    console.log(selectedValue);
    const mode = selectedValue;
    let options;
    if (mode === "Daily") {
      document.getElementById('chooseYear').style.display = "none";
      document.getElementById('chooseMonth').style.display = "none";
      document.getElementById('chooseDay').style.display = "block";
    } else if (mode === "Monthly") {
      document.getElementById('chooseDay').style.display = "none";
      document.getElementById('chooseYear').style.display = "none";
      document.getElementById('chooseMonth').style.display = "block";
    } else if (mode === "Yearly") {
      document.getElementById('chooseMonth').style.display = "none";
      document.getElementById('chooseDay').style.display = "none";
      document.getElementById('chooseYear').style.display = "block";
    } else {

    }
  }

</script>
<section>
  <div class="mt-3 mx-2">
    <div class="row card ">
      <div class="grid-margin stretch-card">
        <h3 class="mt-3 ps-4">Category wise Product Count</h3>
      </div>

      <div class="shadow rounded">
        <div>
          <canvas id="stockChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
          const stockChart = document.getElementById("stockChart");
          const stockChartObj = new Chart(stockChart, {
            type: "doughnut",
            data: {
              labels: [],
              datasets: [
                {
                  label: "Product Count",
                  data: [],
                  backgroundColor: "rgba(0, 148, 255, 0.5)",
                }
              ],
            },

            options: {
              scales: {
                y: {
                  beginAtZero: true,
                },
              },
            },
          });

          
          
          fetchDataAndUpdateStockChart();

          // Function to fetch and update chart data
          async function fetchDataAndUpdateStockChart() {
            try {
              console.log('invoked fetchDataAndUpdateStockChart');
              const response = await fetch(
                "/admin/dashboard/productCountGraph",
                {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  }
                
                }
              );

              if (response.ok) {
                const data = await response.json();

                // Process the data and update the chart
                const labels = data.map((item) => item.label);
                const orderCounts = data.map(item => item.count);

                // Update the chart data and labels
                stockChartObj.data.labels = labels;
                stockChartObj.data.datasets[0].data = orderCounts;
                
                stockChartObj.update();
              } else {
                console.error("Error fetching data from the server");
              }
            } catch (error) {
              console.error("An error occurred:", error);
            }
          }
        </script>
      </div>
      <!-- </form> -->
    </div>
  </div>
</section>
        </div>
      </div>
    </div>
  </div>
  
</div>
<script>
  salesReport.addEventListener('click',()=>{
    const salesRe = document.querySelector("[name='salesRe']").value
    const month = document.querySelector("[name='month']").value
    const year = document.querySelector("[name='year']").value
    const date = document.querySelector("[name='today']").value
    const url = `http://13.48.24.161:5000/admin/dashboard/salesReport?salesRe=${salesRe}&year=${year}&month=${month}&date=${date}`
    window.location.href = url;

    console.log(url)
})
</script>
<!--  ~~~~~~~~  Nav end ~~~~~~~~ -->

<div class="container">
  <hr class="line bg-dark" />
</div>

<%- include('../partials/admin-footer.ejs')%>


